<!--
@license
Copyright 2018 abas Software AG. All Rights Reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../abas-config/abas-config-meta.html">
<link rel="import" href="../aba-js-imports/lodash-import.html">

<dom-module id="abas-field-picker">
  <template>
    <style>
      :host {
        display: block;
      }

      vaadin-combo-box {
        width: 300px;
      }
    </style>

    <abas-config-meta data="{{configuration}}"></abas-config-meta>

    <vaadin-combo-box id="fields"
                      label="[[label]]"
                      items="[[allItems]]"
                      filtered-items="[[items]]"
                      on-filter-changed="_filterChanged"
                      item-label-path="description"
                      on-selected-item-changed="_fieldSelected"
                      selected-item="[[selectedField]]">
      <template>
        <b>[[item.englishName]] ([[item.name]])</b>
        <br>[[item.description]]
      </template>
    </vaadin-combo-box>

  </template>

  <script>
    /**
     * `abas-field-picker`
     * abas Field picker
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class AbasFieldPicker extends Polymer.Element {
      static get is() { return 'abas-field-picker'; }
      static get properties() {
        return {
          metadata: {
            type: Object,
            observer: '_incoming'
          },
          label: String,
          company: String,
          vartab: String,
          type: {
              type: String,
              value: 'obj'
          },
          items: Array,
          field: { type: Object, notify: true },
          doNotBlank: { type: Boolean, reflectToAttribute: true, default: false }
        };
      }

      connectedCallback() {
        super.connectedCallback();
      }

      static get observers() {
        return [
          '_hasEverything(company, vartab, configuration, type)'
        ]
      }

      _hasEverything(company, vartab, configuration, type) {
        let hasEverything = (!!company && !!vartab && !!configuration && !!type);
        if (hasEverything) {
          // selection
          let headers = new Headers();
          headers.set("accept", "application/abas.objects+json");
          headers.set("content-type", "application/json");
          auth0Fetch(`${configuration.api.erpBaseURL}/mw/r/${company}/${type}/meta/${vartab}`, {
            headers: headers
          }).then((response) => {
            if (response.ok) {
              return response.json()
            }
            throw new Error('Pffrrrrr')
          }).then(data => {
            this.set('metadata', data)
          });
        }
      }

      _filterChanged(e) {
        if (this.metadata) {
          this.items = this.allItems.filter(function (el) {
            return el.name.toUpperCase().indexOf(e.detail.value.toUpperCase()) === 0
              || el.description.toUpperCase().indexOf(e.detail.value.toUpperCase()) === 0
              || el.englishName.toUpperCase().indexOf(e.detail.value.toUpperCase()) === 0;
          });
        }
      }

      _incoming(data) {
        let fields = _.get(data, 'content.data.fields');
        this.allItems = fields;
        if (!!fields && fields.length > 0) {
          if (this.field) {
            this.selectedField = fields.find((o) => {
              return (o.name == this.field.name
                && o.tableColumn == this.field.tableColumn);
            });
          }
        }
      }

      _fieldSelected(event) {
        let selItem = event.detail.value;
        this.field = selItem;
        if (selItem) {
          let item = {};
          item.variable = selItem.name;
          item.path = selItem.tableColumn ? `fields.${item.variable}` : `head.fields.${item.variable}`;
          item.ename = selItem.englishName;
          item.name = selItem.description;
          item.table = selItem.tableColumn;
          item.erpType = selItem.type.erpType;
          item.baseType = selItem.type.baseType;
          this.dispatchEvent(new CustomEvent('abas-field-selected', {
            bubbles: false,
            composed: true,
            detail: item
          }));
          if (!this.doNotBlank) {
            this.$.fields.selectedItem = null;
          }
        }
      }
    }

    window.customElements.define(AbasFieldPicker.is, AbasFieldPicker);
  </script>
</dom-module>